<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>StartIT chats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='stils.css') }}" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <script src="{{ url_for('static', filename='helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='chuck.js') }}"></script>
    <script src="{{ url_for('static', filename='chats.js') }}"></script>
    <script src="{{ url_for('static', filename='zinja.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body class="body">
    {% block saturs %}
    {% endblock %}
  </body>
</html>
